# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*
/.vs/motelapi/v17/.wsuo
/motel/.vs/motel/FileContentIndex/9045f0ba-3555-429b-92f2-7860123cef30.vsidx
/motel/.vs/motel/FileContentIndex/a1904518-3058-4690-9b85-736ebe282110.vsidx
/motel/.vs/motel/FileContentIndex/d7bd8cfa-da53-40bf-a584-64e7b6610384.vsidx
/motel/.vs/motel/FileContentIndex/f50b28cc-8790-43e0-81f3-dd9ef59c3eb2.vsidx
/motel/.vs/motel/FileContentIndex/fbbf7116-1868-4a87-a678-3bab6c52d989.vsidx
*.vsidx
/motel/motel/obj/Debug/net7.0/motel.assets.cache
/motel/motel/obj/Debug/net7.0/motel.GeneratedMSBuildEditorConfig.editorconfig
/motel/motel/obj/motel.csproj.nuget.dgspec.json
/motel/motel/obj/project.nuget.cache
